*{
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
    color:black;
}

ul{
    list-style-type: none;
}
/*Configuração menu*/

.container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;

}

.menu ul{
    display:flex;
    margin:20px;
}

.menu ul a{
    display:flex;
    padding:10px;

}

.menu2 ul{
    display:flex;
}

.menu2 ul a{
    padding:15px;
}

.cadastrar{
    background:#8E2424;
    border-radius:8px;
    color:white;
}


/*Section conteudo 1*/
section .conteudo1{
    margin:80px auto;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

section .conteudo1 h5{
    color:#8E2424;
    margin-bottom:20px;
}

section .conteudo1 h1{
    color:black;
    margin-bottom:20px;
}

section .conteudo1 p{
    max-width:450px;
}

/*section conteudo 2 */

section .conteudo2{
    display:flex;
    max-width:1000px;
    margin:auto;
}


section .conteudo2 h1{
    color:#8E2424;
    font-size:60px;
}

section .conteudo2 h1,h3,p{
    padding:10px;
}

/*section conteudo 3*/

section .conteudo3{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:60px;
}

section .conteudo3 img{
    max-width:1000px;
    padding-top:20px;
}

section .conteudo3 h5{
    color:red;
    font-size:15px;
    border-radius:5px solid red;
}

section .conteudo3 h1,h2,h5{
    max-width:1000px;
    padding-top:20px;
}

/*section conteudo 4*/

.cards{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin:50px 25px;
}

.cards-secundarios{
    margin:30px;
    min-width:600px;
    min-height:125px;
    border:1px solid rgba(175, 173, 173, 0.753);
    border-radius:20px;
    padding:20px;
}

.titulo-secundario{
    display:flex;
    flex-direction: column;
    padding-bottom:20px;
    font-weight: bold;
    font-size:18px;
}

.descricao span{
    padding-left:20px;
}

/*ìnicio section conteudo 5*/
section .conteudo5{
    margin:80px auto;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    background:rgba(196, 25, 25, 0.03);
}

section .conteudo5 h5{
    color:#8E2424;
    margin-bottom:20px;
}

section .conteudo5 h1{
    color:black;
    margin-bottom:20px;
}

section .conteudo5 p{
    margin-top:10px;
    font-weight: bold;
}

section .conteudo5 span{
    color:gray;
}

/*Footer*/

.conteudo6{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background:#F9FAFB;
}

.conteudo6 h1{
    padding:20px;
}

.conteudo6 span{
    padding:20px;
    color:gray;
}

.botoes{
    display:flex;
    justify-content: space-between;
}

.botoes input{
    width:250px;
}

.botoes button{
    border-radius:5px;
    background:#8E2424;
    padding:8px;
    color:white;
    margin-left:10px;
}

